.nav {
    background-color: #2b73e6; /* Background color of the navigation bar */
    padding: 10px 20px; 
    display: flex;
  justify-content: space-between;
  align-items: center;
}
  img {
    width: 100px;
    height:50px;
  }
  .navItems {
    display: flex;
    justify-content: flex-end;
  }
  
  .navItems a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .navItems a:hover {
    text-decoration: underline;
  }
  
  a {
    color: white; /* Text color of the navigation links */
    text-decoration: none; /* Remove underline from the links */
    font-weight: bold; /* Make the text bold */
  }
  
  a:hover {
    text-decoration: underline; /* Add underline on hover */
  }